@import "../../Assets/Scss/variables.scss";

.pagination {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;

  .activePageLink {
    font-weight: bolder;
    color: $parrot-green;
  }

  li {
    margin-left: 10px;
    border-radius: 5px;

    a {
      width: 100%;
      cursor: pointer;
      padding: 0px 10px 0px 10px;
      margin-left: 5px;
      border-radius: 5px;
    }
  }
}
