@import "./variables.scss";

@mixin bgProperties {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bgProperties {
  @include bgProperties;
}

.bgBlur {
  background-color: $blur-color !important;
  border-bottom-left-radius: 14px !important;
  border-bottom-right-radius: 14px !important;
}
.customBgDark {
  background-color: rgba(0, 0, 0, 0.2) !important;
  backdrop-filter: blur(20px);
  border-color: rgba(0, 0, 0, 0.2);
}

.font14 {
  font-size: $font-14 !important;
}

.middle-subscription-card {
  transition: transform 0.3s ease;
  transform: scale(1.1);
  z-index: 1;
}

.custom-badge {
  font-size: 14px !important;
  background-color: $yellow !important;
  border-radius: 25px !important;
}

.textYellow {
  color: $yellow !important;
}
.textOrange {
  color: $orange !important;
}
.textGrey {
  color: $text-muted !important;
}

.textParrotGreen {
  color: $parrot-green;
}

.BorderRadius {
  box-shadow: $card-box-shadow;
  border: none !important;
}
.customDropdownRadius,
.BorderYellow,
.BorderRadius,
.subscriptionDiv {
  border-radius: 14px !important;
}

.ImgBorder {
  border-top-right-radius: 14px;
  border-top-left-radius: 14px;
}
.yellowBorder,
.BorderYellow {
  border: 1px solid $yellow !important;
}

a,
.a {
  text-decoration: none !important;
  outline: none !important;
}

Input {
  &:focus {
    border: 1px solid $yellow !important;
    outline: 1px solid $yellow !important;
  }
}

Input::-webkit-input-placeholder {
  color: $placeholder-color;
}
.dropdown-menu {
  padding: 0px !important;
}
.dropdown-item {
  &:active,
  &:hover,
  &:focus,
  &::selection {
    background-color: $yellow;
    color: $black;
    outline: none;
    border-radius: 6px;
  }
}

.react-tel-input,
.genderBtn,
.form-control,
.form-control-lg {
  &:focus,
  &:focus-visible {
    border: 1px solid $parrot-green !important;
    box-shadow: none !important;
    outline: none !important;
  }
}

.react-tel-input {
  border-radius: 14px;
  .form-control-lg {
    border-radius: 14px !important;
    border: 1px solid $white;
    padding-left: 50px !important;
    &:focus {
      outline: none !important;
    }
  }
  .flag-dropdown {
    background-color: $content-bg !important;
    border-top-left-radius: 14px !important;
    border-bottom-left-radius: 14px !important;
    .selected-flag {
      border-top-left-radius: 14px !important;
      border-bottom-left-radius: 14px !important;
      &:hover {
        border-top-left-radius: 14px !important;
        border-bottom-left-radius: 14px !important;
      }
    }
  }
}

.form-check-input:checked::before {
  display: flex;
  align-items: center;
  justify-content: center;
  content: "\2713 ";
  color: $parrot-green !important;
  font-weight: bold;
  margin-top: -13px;
  margin-left: 1px;
}

.form-check-input:checked {
  &focus {
    box-shadow: none !important;
    background-color: $yellow-blur !important;
    color: $parrot-green !important;
  }
  background-color: $yellow-blur !important;
  border: 1px solid $parrot-green !important;
  color: $parrot-green !important;
}

.buttonBoxShadow {
  box-shadow: 0px 2px 14px 0px $button-box-shadow;
}

.errorField {
  margin-bottom: 0 !important;
  color: $orange;
  font-size: $font-14;
}

.customPhoneInput {
  font-size: $font-14 !important;
}

.customPaddingY {
  padding: 12px 0px !important;
}

.customSpacing {
  letter-spacing: 1px;
  line-height: 24px;
}

.customDropDown {
  font-size: $font-14 !important;
  box-shadow: none !important;
}

.CameraImg {
  position: absolute;
  width: 40px;
  height: 40px;
  z-index: 99;
  border-radius: 100%;
  right: 0;
  bottom: 6px;
  border: 2px solid white;
  background-color: rgba(24, 24, 24, 0.99);
}

.genderBtn {
  .selected {
    color: $parrot-green !important;
    border: 2px solid $parrot-green !important ;
  }
}

.rmsc {
  .dropdown-container {
    padding: 8px 10px !important;
    border-radius: 14px !important;
    font-size: 14px !important;
    &:focus-within {
      border: 1px solid $parrot-green !important;
      box-shadow: none !important;
    }
  }
}
.arabicBorderHover,
.borderHover {
  position: relative;
  overflow: hidden;
}
.arabicBorderHover::before,
.borderHover::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: $yellow;
  transition: width 0.3s ease;
}
.arabicBorderHover::before {
  margin-bottom: 0px;
}
.arabicBorderHover:hover::before,
.borderHover:hover::before {
  width: 100%;
}

.currentlyWorkingBtn {
  .selected {
    color: $parrot-green !important;
    border: 2px solid $parrot-green !important ;
  }
}
.selectField {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}

.text-black-custom {
  color: $black !important;
}

.cursorPointer {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: $blur-color;
  border-radius: 5px;
}

::-webkit-scrollbar-track:hover {
  background: $white;
}
