@import "./variables.scss";

@mixin bgProperties {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgBlur {
  background-color: $blur-color !important;
}

.middle-subscription-card {
  transition: transform 0.3s ease;
  transform: scale(1.1);
  z-index: 1;
}

.custom-badge {
  font-size: 15px !important;
  background-color: $yellow !important;
}

.bgProperties {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.textYellow {
  color: $yellow !important;
}

.BorderRadius {
  border-radius: 15px !important;
  border: 1px solid $yellow !important;
}

.ImgBorder {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.BorderYellow {
  border: 1px solid $yellow;
}

a,
.a {
  text-decoration: none !important;
  outline: none !important;
}

Input {
  &:focus {
    border: 1px solid $yellow !important;
    outline: 1px solid $yellow !important;
  }
}

Input::-webkit-input-placeholder {
  color: $placeholder-color;
}

.react-tel-input,
.genderBtn,
select,
.form-control,
.form-control-lg {
  &:focus,
  &:focus-visible {
    background-color: $yellow-blur !important;
    border: 1px solid $parrot-green !important;
    box-shadow: none !important;
    outline: none !important;
  }
}

.form-check-input:checked::before {
  display: flex;
  align-items: center;
  justify-content: center;
  content: "\2713 ";
  color: $parrot-green !important;
  font-weight: bold;
  margin-top: -13px;
  margin-left: 1px;
}

.form-check-input:checked {
  &focus {
    box-shadow: none !important;
    background-color: $yellow-blur !important;
    color: $parrot-green !important;
  }
  background-color: $yellow-blur !important;
  border: 1px solid $parrot-green !important;
  color: $parrot-green !important;
}

.workoutVideos {
  height: auto;
  max-width: 100%;
  width: 100%;
  border-radius: 15px !important;
}

.buttonBoxShadow {
  box-shadow: 0px 2px 15px 0px $button-box-shadow;
}

.error-field {
  margin-bottom: 0 !important;
  color: $orange;
  font-size: 14px;
}
