@import "../../../Assets/Scss/globalStyleSheet.scss";
.CameraImg {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  z-index: 99;
  right: 0;
  bottom: 6px;
  border: 2px solid $white;
  background-color: $dark-bg;
}
.genderBtn {
  .selected {
    color: $parrot-green;
    border-color: $parrot-green !important ;
    background-color: $yellow-blur !important;
  }
}
