.select-wrapper .select__option:hover {
  background-color: #f5e74c;
  opacity: 0.7;
}
.form-control:focus {
  outline: 0;
}
.select-wrapper .select__option--is-selected {
  background-color: #f5e74c;
}
