@import "../../Assets/Scss/variables.scss";
@import "../../Assets/Scss/globalStyleSheet.scss";

.featureSectionWrapper {
  background-image: url("../../Assets/Images/homeScreen/FeatureSectionBgImage.png");
  @include bgProperties;
  align-items: center;
  .featureSectionLeftContent {
    span {
      display: block;
      width: fit-content;
      border-bottom: 3px solid $yellow;
    }
    .featureHeading {
      border-bottom: 3px solid $yellow;
    }
  }
  .featureTextSlider {
    width: 45vw;
    padding: 15px;
    align-items: center;
  }
  .featureSectionRightContent {
    .cardSwiper {
      width: 100%;
      .cardSwiperSlider {
        @include bgProperties;
        background-size: contain !important;
      }
    }
  }
}

@media (max-width: 480px) {
  .featureSectionWrapper {
    .featureTextSlider {
      width: 92vw;
      align-items: center;
    }
  }
}

@media (min-width: 481px) and (max-width: 820px) {
  .featureSectionWrapper {
    .featureTextSlider {
      width: 98vw;
    }
  }
}
