@import "../../Assets/Scss/variables.scss";

.workoutVideosHeader {
  background-color: $white;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.workoutVideos {
  height: auto;
  border-radius: 14px !important;
}

.descriptionItemRight {
  position: absolute;
  right: -20px;
}

.descriptionItemLeft {
  position: absolute;
  left: -12px;
}
