@import "../../Assets/Scss/variables.scss";
.switchCheckbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

.switchLabel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 38.67px;
  height: 19px;
  background: rgb(211, 207, 207);
  border-radius: 100px;
  position: relative;
  transition: background-color 0.2s;
}

.switchLabel .switchButton {
  content: "";
  position: absolute;
  top: 2.5px;
  left: 3px;
  width: 13.33px;
  height: 13.33px;
  border-radius: 13.33px;
  transition: 0.2s;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.switchCheckbox:checked + .switchLabel .switchButton {
  left: calc(100% - 3px);
  transform: translateX(-100%);
}

.switchLabel:active .switchButton {
  width: 18px;
}

.switchCheckbox:checked + .switchLabel {
  background: $yellow;
}

.switchCheckbox:checked + .switchLabel:active {
  background: $yellow;
}
