@import "../../Assets/Scss/variables.scss";

.otpContainer {
  .otpDiv {
    height: 115px;
    margin-left: 16px;

    input {
      margin: -16px;
      width: 50px !important;
      height: 50px !important;
      border-radius: 14px !important;
      border: rgb(68, 68, 68) solid 2px;
      font-size: 25px;
      color: $yellow;
      font-weight: bold;
    }
  }
}
