@import "../../Assets/Scss/variables.scss";

.otpContainer {
  .otpWrapper {
    .otpCol {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .otpInputs {
        display: flex;
        justify-content: center;
        padding: 30px 5px;
        border-color: $black !important;

        input {
          width: 60px !important;
          height: 60px !important;
          border-radius: 14px !important;
          border-color: $black !important;
        }
      }
    }
  }
}
