@import "../../Assets/Scss/variables.scss";
@import "../../Assets/Scss/globalStyleSheet.scss";

.heroSectionWrapper {
  .heroSectionLeftContent {
    .heroTextBackground {
      background-image: url("../../Assets/Images/homeScreen/HeroTextBgImage.png");
      @include bgProperties;
    }

    span h2 {
      display: block;
      width: fit-content;
      border-bottom: 3px solid $yellow;
    }
  }
}

@media (max-width: 480px) {
  .heroSectionWrapper {
    .heroSectionLeftContent {
      .heroTextBackground {
        background-image: url("../../Assets/Images/homeScreen/HeroTextBgImage.png");

        @include bgProperties;
      }

      span h2 {
        display: block;
        width: fit-content;
        border-bottom: 3px solid $yellow;
      }
    }
  }
}
