@import "../../Assets/Scss/variables.scss";
@import "../../Assets/Scss/globalStyleSheet.scss";

@keyframes randomAnimation {
  0% {
    transform: translate(200, 1000);
  }
  25% {
    transform: translate(200px, 400px);
  }
  50% {
    transform: translate(-400px, 100px);
  }
  75% {
    transform: translate(300px, -100px);
  }
  100% {
    transform: translate(-400px, -100px);
  }
}

@keyframes randomAnimationYellow {
  0% {
    transform: translate(400, 900);
  }
  25% {
    transform: translate(-200px, -400px);
  }
  50% {
    transform: translate(400px, -100px);
  }
  75% {
    transform: translate(-300px, 100px);
  }
  100% {
    transform: translate(400px, 100px);
  }
}

@keyframes randomAnimationGreen {
  0% {
    transform: translate(800, 500);
  }
  25% {
    transform: translate(50px, -400px);
  }
  50% {
    transform: translate(400px, -500px);
  }
  75% {
    transform: translate(-300px, 500px);
  }
  100% {
    transform: translate(400px, 500px);
  }
}
@keyframes randomAnimationBlue {
  0% {
    transform: translate(1000, 400);
  }
  25% {
    transform: translate(90px, -600px);
  }
  50% {
    transform: translate(600px, -800px);
  }
  75% {
    transform: translate(300px, 500px);
  }
  100% {
    transform: translate(700px, 100px);
  }
}
@mixin heroElement($background, $animation) {
  &::before,
  &::after {
    content: "";
    position: absolute;
    z-index: 9 !important;
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
    opacity: 0.2;
    background: $background;
    animation: $animation 50s infinite;
  }
}
.heroSectionWrapper {
  position: relative;
  @include heroElement(
    url("../../Assets/Images/gympics/treadmill.png") center/cover no-repeat,
    randomAnimationYellow
  );
  @include heroElement(
    url("../../Assets/Images/gympics/dumbbell.png") center/cover no-repeat,
    randomAnimation
  );
  @include heroElement(
    url("../../Assets/Images/gympics/gym\ \(1\).png") center/cover no-repeat,
    randomAnimationBlue
  );
  @include heroElement(
    url("../../Assets/Images/gympics/weightlifting.png") center/cover
      no-repeat,
    randomAnimationGreen
  );


  .heroSectionLeftContent {
    position: relative;
    @include heroElement(
      url("../../Assets/Images/gympics/weightlifting.png") center/cover
        no-repeat,
      randomAnimationGreen
    );
    @include heroElement(
      url("../../Assets/Images/gympics/weights.png") center/cover no-repeat,
      randomAnimationYellow
    );
    .heroTextBackground {
      position: relative;
      height: 100% !important;
      overflow: hidden;
      @include heroElement(
        url("../../Assets/Images/gympics/dumbbell.png") center/cover no-repeat,
        randomAnimation
      );
      .heroHeading {
        position: relative;

        @include heroElement(
          url("../../Assets/Images/gympics/treadmill.png") center/cover
            no-repeat,
          randomAnimationYellow
        );
        @include heroElement(
          url("../../Assets/Images/gympics/gym\ \(1\).png") center/cover
            no-repeat,
          randomAnimationBlue
        );
      }
    }
  }
}

@media (max-width: 480px) {
  .heroSectionWrapper {
    .heroSectionLeftContent {
      .heroTextBackground {
        background-image: url("../../Assets/Images/homeScreen/HeroTextBgImage.png");
        @include bgProperties;
        height: 100% !important;
      }
    }
  }
}
