@import "../../Assets/Scss//globalStyleSheet.scss";
.CountUp {
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color:$yellow !important;
}

@media  screen and (max-width: 576px) {
    .CountUp {
        font-size: 24px;
        color:$yellow !important;
    }
}