@import "../../Assets/Scss/globalStyleSheet.scss";

.fillBtn {
  background-color: $yellow !important;
  border: 2px solid $yellow !important;
  font-weight: bold !important;
  color: black !important;
  border-radius: $border-radius-15 !important;
}

.OutlineBtn {
  background-color: transparent !important;
  border: 2px solid $yellow !important;
  font-weight: bold !important;
  color: $light-gray !important;
  border-radius: $border-radius-15 !important;
  &:hover {
    background-color: $yellow !important;
    border: 2px solid $hoverYellow !important;
    color: $black !important;
  }
}
