@import "../../Assets/Scss/globalStyleSheet.scss";

.fillBtn,
.OutlineBtn {
  font-weight: bold !important;
  border-radius: $border-radius-10 !important;
}

.fillBtn {
  background-color: $yellow !important;
  border: 2px solid $yellow !important;
  color: $black !important;
  &:hover {
    background-color: $hoverYellow !important;
    color: $black !important;
  }
}

.OutlineBtn {
  background-color: $white !important;
  border: 2px solid $yellow !important;
  color: $light-gray !important;

  &:hover {
    background-color: $hoverYellow !important;
    color: $black !important;
  }
}
