@import "../../../Assets//Scss//globalStyleSheet.scss";
.QRcodeDiv {
  border: $yellow solid 2px;
  border-bottom-left-radius: 80%;
  border-bottom-right-radius: 80%;
  border-top: none;
  box-shadow: 0 0 22px 5px rgba(245, 231, 76, 0.64);
}
