.sideNav {
  }
  
  @media (max-width: 900px) {
    .sideNav {
      position: fixed;
      z-index: 9999;
      border:Red solid 1px;
    }
    // body, html {
    //   overflow: hidden;
    // }
  }
  