$sidebar-min-width: 270px;
$sidebar-max-width: 270px;

.Sidebar {
  min-width: $sidebar-min-width;
  max-width: $sidebar-max-width;
  background: #7386d5;
  color: #fff;
  margin-left: -270px;
  transition: all 0.5s;

  .sidebar.is-open > .sidebar-header span {
    display: unset;
  }

  &.is-open {
    margin-left: 0;
    transition: 0.5s;
  }

  &.sidebarHeader {
    background: #6d7fcc;
  }

  ul {
    p {
      color: #fff;
      padding: 10px;
    }
  }
  .NavLink {
    display: flex;
    align-items: center;
    color: white;

    &:hover {
      color: #7386d5;
      background: #fff;
    }
  }
  &.sideMenu {
    height: calc(100vh - 130px);
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background: #5466b3;
      border-radius: 3px;
    }

    &:hover::-webkit-scrollbar-thumb {
      background: #3a4c99;
    }
  }

  @media only screen and (max-width: 500px) {
    body {
      overflow: hidden;
    }

    .content.is-open {
      margin-left: 100%;
    }

    &.is-open {
      min-width: 100%;
      max-width: 100%;
      margin-left: 0;
      transition: all 0.5s, height 0s;
    }

    &.is-open > .sidebar-header span {
      display: unset;
    }

    li a.dropdown-toggle::after {
      display: inline-block;
      position: relative;
      left: 68%;
    }
  }
}
