@import "../../Assets/Scss/globalStyleSheet.scss";

.bannerImg {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    url("../../Assets/Images/HOMEBANNER.png");

background-position: center center;
background-size: cover;
background-repeat: no-repeat;
  height: 100vh !important;

  .bannerTextWrapper {
    font-size: 55px;
    line-height: 50px;
    letter-spacing: 1px;
    word-spacing: 8px;
  }
}

@media (max-width: 600px) {
  .bannerImg {
    .bannerTextWrapper {
      font-size: 40px;
    }
  }
}
