.customMultiSelector {
  .css-13cymwt-control {
    border-radius: 14px !important;
    padding: 8px 8px;

    &:hover {
      border: none !important;
      box-shadow: none;
    }
  }
  .css-t3ipsp-control {
    border-radius: 14px !important;
    padding: 8px 8px;

    &:hover {
      border: none !important;
      box-shadow: none;
    }
  }
}
