@import "../../Assets/Scss/variables.scss";

.inputWrapper {
  position: relative;
  .iconWrapper {
    position: absolute;
    top: 48%;
    left: 15px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .inputDesign {
    font-size: $font-14;
    border-radius: $border-radius-15;
  }
}
