@import "../../Assets/Scss/variables.scss";
@import "../../Assets/Scss/globalStyleSheet.scss";
.feedbackSwiperSlider {
  position: relative;
  border: 5px solid transparent;

  &.swiper-slide {
    opacity: 0.3;

    &.swiper-slide-active {
      transform: scale(1.07);
    }
  }

  &:not(.swiper-slide-duplicate) {
    transition: transform 0.3s ease-in-out;
  }
}

.feedbackSwiper {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 40px;
}

.swiper-slide {
  @include bgProperties;
  width: 300px;
  height: 400px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-pagination {
  display: flex;
  justify-content: center;
}

// .swiper-pagination-bullet-active {
//   background-color: none !important;
// }

.swiper-pagination-bullet {
  display: NONE;
}

.swiper-slide-active {
  opacity: 1 !important;
}
.swiper-initialized {
  padding-right: 20px;
}
