@import "../../Assets/Scss/variables.scss";
@import "../../Assets/Scss/globalStyleSheet.scss";

.feedbackSwiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 5rem;
}

.swiper-3d .swiper-slide-shadow {
  background: none;
}

.swiper-slide {
  @include bgProperties;

  width: 300px;
  height: 400px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-pagination {
  display: flex;
  justify-content: center;
}

.swiper-pagination-bullet-active {
  background-color: $yellow;
}

.swiper-pagination-bullet {
  width: 2% !important;
  height: 5px !important;
  border-radius: 6px !important;
}

.swiper-slide-active {
  opacity: 1 !important;
}
