@import "../../Assets/Scss/variables.scss";

.cardHeaderDesign {
  border: 2px solid $white !important;
  .headerCard {
    border-radius: 14px;
    margin-top: -20px;
    padding: 10px 50px;
    text-align: center !important;
    background-color: $white !important;
    border-top: 2px solid $white !important;
  }

  &:hover {
    border: 2px solid $yellow !important;
    .headerCard {
      border-top: 2px solid $yellow !important;
    }
  }
}
