@import "../../Assets/Scss/variables.scss";

.Card {
  position: relative;

  .infoContainer {
    content: "";
    position: absolute;
    right: 0;
    bottom: 12px;
    overflow: hidden;
    width: 85% !important;
    border-radius: 8px 0px 0px 8px;
    border-radius: 0 !important;
    // transition: all 0.8s ease;
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 72px;
      border-right: 10px solid yellow;
      border-radius: 8px 0px 0px 8px;
    }
  }
  // &:hover {
  //   .infoContainer {
  //     opacity: 1;
  //     max-height: 100px;
  //     margin-bottom: 0;
  //     transition: all 0.8s ease;
  //     transform: translateX(-18%);

  //   }
  // }
}
 
