@import "../../../Assets/Scss/variables.scss";

.servicesWrapper {
  .customBodySelect {
    cursor: pointer;
    border-radius: 15px;
    text-align: center;
    border: 3px solid $yellow;
    box-shadow: 0px 2px 15px 0px $button-box-shadow;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 12px 20px;
    border: 1px solid $yellow;
    transition: border-color 0.3s ease;
    background-color: $white;
    &:hover {
      background-color: $hoverYellow;
    }
  }
  .activeBody {
    background-color: $yellow;
  }
  .servicesRow {
    margin-top: 5vh;
    .servicesCol {
      .humanBody {
        height: 75vh;
        .inActiveBodyMuscle {
          &:hover {
            fill: $orange;
            cursor: pointer;
          }
        }
        .activeBodyMuscle {
          &:hover {
            fill: $yellow;
            cursor: pointer;
          }
        }
      }
    }
  }
}
